@import 'normalize.css';

body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-image {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../images/gina-lin-m27OTMegUyA-unsplash.jpg"),
                    url("../images/brooke-lark-08bOYnH_r_E-unsplash.jpg");
  //filter: blur(1px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  position: relative;
}

.bg-text {
  //height: 20vh;
  //width: 50vh;
  position: absolute;
  top: 10vh;
  right: 20vh;
  padding: 5rem;
  opacity: 100%;
  color: white;
  font: 22px Arial, sans-serif;
  text-align: center;
  z-index: 99;
}